/* setting */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* generale */

body{
  background-color: rgb(246, 248, 249);
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  background-color: white;
  width: 70%;
  margin: 5px auto;
  padding: 30px 50px 30px;
  border-radius: 10px;
}

/* HEADER */

header{
  background-color: white;
  height: 80px;
  padding: 15px;
}
header img{
  vertical-align: middle;
}
header span{
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

/* MAIN */

/* top */

.top.container{
  margin-top: 50px;
}
button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}
.primo-bottone{
  background-color:rgb(71, 173, 241) ;
  color: white;
}
.secondo-bottone{
  background-color: white;
  color: rgb(197, 203, 208);
  border-color: rgb(197, 203, 208);

}

/* sezione principale */

h3{
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 40px
}
li{
  font-size: 15px;
  margin-bottom: 15px;
  list-style: none;
}
.entity{
  display: inline-block;
}
.entity::after{
  border: solid 1px;
  border-radius: 50%;
  padding: 3px;
  font-size: 8px;
}
.check::after{
  content: "\2713";
  color: rgb(146, 213, 198);
  border-color: rgb(146, 213, 198);
}
.delete::after{
  content: "\0058";
  color: rgb(234, 97, 92);
  border-color: rgb(234, 97, 92);

}
.tag{
  display: inline-block;
}
.tag::before{
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.editorial::before{
  content: "Editorial";
  background-color:rgb(71, 173, 241) ;
}
.q1::before{
  content: "Q1 Goals";
  background-color: blueviolet;
}
.recruiting::before{
  content: "Recruiting";
  background-color: rgb(100, 192, 169);
}
.mobile::before{
  content: "Mobile";
  background-color: orange;
}
.website::before{
  content: "Website";
  background-color:rgb(214, 92, 157);
}
.sales::before{
  content: "Sales";
  background-color: rgb(176, 201, 38);
}